In [1]:
%%capture
!pip3 install mysql-connector-python pandas numpy

In [2]:
import pandas as pd
import numpy as np

In [3]:
import mysql.connector as conn

In [4]:
mydb = conn.connect(host='localhost', user='user', passwd='password')

In [5]:
cur = mydb.cursor()

In [6]:
cur.execute("show databases;")

In [7]:
cur.fetchall()

[('information_schema',),
 ('mysql',),
 ('newdb',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [8]:
cur.execute("use mysql")

In [9]:
cur.execute("show tables;")

In [10]:
cur.fetchall()

[('columns_priv',),
 ('component',),
 ('db',),
 ('default_roles',),
 ('engine_cost',),
 ('func',),
 ('general_log',),
 ('global_grants',),
 ('gtid_executed',),
 ('help_category',),
 ('help_keyword',),
 ('help_relation',),
 ('help_topic',),
 ('innodb_index_stats',),
 ('innodb_table_stats',),
 ('ndb_binlog_index',),
 ('password_history',),
 ('plugin',),
 ('procs_priv',),
 ('proxies_priv',),
 ('replication_asynchronous_connection_failover',),
 ('replication_asynchronous_connection_failover_managed',),
 ('replication_group_configuration_version',),
 ('replication_group_member_actions',),
 ('role_edges',),
 ('server_cost',),
 ('servers',),
 ('slave_master_info',),
 ('slave_relay_log_info',),
 ('slave_worker_info',),
 ('slow_log',),
 ('tables_priv',),
 ('time_zone',),
 ('time_zone_leap_second',),
 ('time_zone_name',),
 ('time_zone_transition',),
 ('time_zone_transition_type',),
 ('user',)]

In [11]:
cur.execute("DESCRIBE mysql.user")

In [12]:
cols = cur.fetchall()

In [13]:
cols = np.array(cols)

In [14]:
cols.shape

(51, 6)

In [15]:
cols = cols[:,0]

In [16]:
cur.execute("select * from mysql.user")

In [17]:
val = cur.fetchall()

In [18]:
val

[('localhost',
  'mysql.infoschema',
  'Y',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  '',
  b'',
  b'',
  b'',
  0,
  0,
  0,
  0,
  'caching_sha2_password',
  '$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED',
  'N',
  datetime.datetime(2024, 7, 8, 13, 13, 28),
  None,
  'Y',
  'N',
  'N',
  None,
  None,
  None,
  None),
 ('localhost',
  'mysql.session',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'Y',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'Y',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  '',
  b'',
  b'',
  b'',
  0,
  0,
  0,
  0,
  'caching_sha2_password',
  '$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED',
  'N',
  datetime.datetime(2024, 7, 8, 13, 13, 28),
  None,
  'Y',
  'N',
  'N',
  None,
  None,
  None,
  None),
 ('localhost',
  'mysql.sys',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  'N',
  '',
  b'',
  b'',
  b'',
  0,
  0,
  0,
  0,
  'caching_sha2_password',
  '$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED',
  'N',
  datetime.datetime(2024, 7, 8, 13, 13, 28),
  None,
  'Y',
  'N',
  'N',
  None,
  None,
  None,
  None),
 ('localhost',
  'root',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  'Y',
  '',
  b'',
  b'',
  b'',
  0,
  0,
  0,
  0,
  'caching_sha2_password',
  '$A$005$5F\x10\\>r0\x11;(\x19`\\\x0f3b\x01|\x16[AaGIfRet1v4A/dvVjGk.Om8npB/cJ.5oSMEFKUs8mQ5',
  'N',
  datetime.datetime(2024, 7, 8, 13, 13, 31),
  None,
  'N',
  'Y',
  'Y',
  None,
  None,
  None,
  None)]

In [19]:
cur.execute("select * from mysql.user")

In [20]:
pd.DataFrame(cur.fetchall(), columns=cols)

,Host,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,Shutdown_priv,...,password_expired,password_last_changed,password_lifetime,account_locked,Create_role_priv,Drop_role_priv,Password_reuse_history,Password_reuse_time,Password_require_current,User_attributes
0,localhost,mysql.infoschema,Y,N,N,N,N,N,N,N,...,N,2024-07-08 13:13:28,None,Y,N,N,None,None,None,None
1,localhost,mysql.session,N,N,N,N,N,N,N,Y,...,N,2024-07-08 13:13:28,None,Y,N,N,None,None,None,None
2,localhost,mysql.sys,N,N,N,N,N,N,N,N,...,N,2024-07-08 13:13:28,None,Y,N,N,None,None,None,None
3,localhost,root,Y,Y,Y,Y,Y,Y,Y,Y,...,N,2024-07-08 13:13:31,None,N,Y,Y,None,None,None,None

In [21]:
pd.DataFrame(cur.fetchall())

Empty DataFrame
Columns: []
Index: []