# PYTHON BASICS - ASSIGNMENT 4

#### 1. What exactly is []?
```
Answer:

[] is square braces, in python used to represet a list. List datatype in python is used to store multiple values in a single variable, and uses the indexes and the variable name to access these values.

Example:
lst = [1, 2, 3, 5, 6]
```

#### 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
```
Answer:

Given the list [2, 4, 6, 8, 10]
The third value is accessed using the index number 2, as the index values starts with 0.

Given we assigned a name to the list as lst, then the third value can be changed as shown below

lst[2] = 'Hello'
```

In [1]:
lst = [2, 4, 6, 8, 10]
lst[2] = "Hello"
lst

[2, 4, 'Hello', 8, 10]

#### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [2]:
spam = ['a', 'b', 'c', 'd']

#### 3. What is the value of the spam[ int(int('3'*2)/11) ]
```
Answer:

The value inside the index is, a stirng multipled by 2, which becomes '33', then converted to a integer, then divide by 11, gives 3.
We have the list 
spam = ['a', 'b', 'c', 'd']
The 3rd index in the spam list will be returned
i.e.. 'd'
```

#### 4. What is the value of spam[-1]?
```
Answer:

In python, the negetive values gives the list from end of the list. So the -1 index will return the last value of the list spam, which is 'd'

i.e.. 'd'
```

#### 5. What is the value of spam[:2]
```
Answer:

The list with index :2, will return values from index 0 to 1
i.e., ['a', 'b']
```

#### Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

In [5]:
bacon = [3.14, 'cat', 11, 'cat', True]

#### 6. What is the value of bacon.index('cat')?
```
Answer:

The statement bacon.index('cat') will return the 1s't index of the given value from the list.
since the first index where the string 'cat' is available is 1, it returns 1
```

In [7]:
bacon.index('cat')

1

#### 7. How does bacon.append(99) change the look of the list value in bacon?
```
Answer:

The statement bacon.append(99) will add a value to the end of the list. Given value is 99 in the function append, the bacon list will look like this:
[3.14, 'cat', 11, 'cat', True, 99]
```

In [8]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

#### 8. How does bacon.remove('cat') change the look of the list in bacon?
```
Answer:

The statement bacon.remove('cat') will remove the first instace of the string 'cat' available in the list bacon, starting from index 0. The bacon list will look like: 
[3.14, 11, 'cat', True, 99]
```

In [9]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

#### 9. What are the list concatenation and list replication operators?
```
Answer:

Given two or more lists, we can concatenate them using the concatenation operator '+'.
Given a list, we can replicate the list, and concatenate it at the same time using the  replication operator '*'.

```

In [10]:
exm1 = [1, 2, 3]
exm2 = [4, 5, 6]
print(exm1 + exm2)
print(exm1*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 10. What is difference between the list methods append() and insert()?
```
Answer:

Using the append() method on a list, the value given to the function will be added to the end of the list.
Using the insert() method on a list, takes two parameters, first the index value at which the value should be added, second the value that needs to be added. It will add that value at the given index.
```

In [11]:
lst = [1, 2, 3, 4, 6, 7]
lst.append(8)
print(lst)
lst.insert(4, 5)
print(lst)

[1, 2, 3, 4, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

#### 11. What are the two methods for removing items from a list?
```
Answer:

The two methods for removing items from a list are
1. pop() - removes the last element from the list
2. remove(parameter) - removes the 1st occurance of the given element from the list
```

#### 13. What's the difference between tuples and lists?
```
Answer:

In almost all the cases lists and tuples are same, but the difference is that, tuples are immutable, while the lists are mutable.
```

In [12]:
tup = (1, 2, 3)
tup[1] = 3

TypeError: 'tuple' object does not support item assignment

#### 14. How do you type a tuple value that only contains the integer 42?
```
A tuple with a single integer value is can be created in two ways
1. tup = (42, )
2. tup = tuple([42])

In the first method, if the comma is not mentioned, the tup variable will become an integer variable
```

#### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?
```
List values tuple from, and tuple values list form can be achived using typecasting with the help of the list and tuple functions

Example: 
lst = [1, 2, 3, 4, 5]
tup = (4, 2, 4, 5)

print(list(tup))
print(tuple(lst))
```

In [13]:
lst = [1, 2, 3, 4, 5]
tup = (4, 2, 4, 5)

print(list(tup))
print(tuple(lst))

[4, 2, 4, 5]
(1, 2, 3, 4, 5)

#### 16. Variables that contain list values are not necessarily lists themselves. Instead, what do they contain?
```
Answer: 

Given a list say, lst1 with some list objects inside it, then the list lst1 contains the address of the lists inside it. So when another variable tries to copy values from the lst1 list, incase of shallow copy, Even though the address of the main list lst1 is changed, the addresses of the lists inside it are copied, making both the main lists to address to the same lists inside them. Therefore, the variables that contain list values are not necessarily lists themselves, instead they are references to those lists.
```

#### 17. How do you distinguish between copy.copy() and copy.deepcopy()?
```
Answer:

There are three ways to copy a variable(particularly a nested list) to another variable. But there are some differences between these type of copying, making each of them more efficient as it moves through the hierarchy. The three ways are:
1. =
2. copy.copy()
3. copy.deepcopy()

=, is assignment operator, when assigned a list variable to another variable name, the reference of both the variables are same.

copy.copy(), is known as shallow copy. When a variable is copied to another variable using the copy() function, the address of the main lists are different. Where are the references of the values inside them are copied to the list, as the references are stored in the list itself inplace of a value. Making it only half sucessfull of making a copy of the list.

copy.deepcopy(), is known as deepcopy. When a variable is copied to another variable using the deepcopy() function the address of the main lists will be different, also the references of the lists inside them are also changed and stored to the new list, recursively making the new list completely independent of the original list.

```

In [1]:
import copy

# copy using =
lst1 = [1, 2, 3, 4, 5]
lst2 = lst1
print("id of lst1 is : {0}".format(id(lst1)))
print("id of lst2 is : {0}".format(id(lst2)))

id of lst1 is : 139650537480640
id of lst2 is : 139650537480640

In [2]:
# shallow copy using copy.copy()
lst1 = [ [1, 2, 3], [6, 5, 3, 5, 6], 7 ]
lst2 = copy.copy(lst1)
print(lst2[2])
lst2[2] = 100
print(lst1)
print(lst2)


print(lst2[0][0])
lst2[0][0] = 100
print(lst1)
print(lst2)

7
[[1, 2, 3], [6, 5, 3, 5, 6], 7]
[[1, 2, 3], [6, 5, 3, 5, 6], 100]
1
[[100, 2, 3], [6, 5, 3, 5, 6], 7]
[[100, 2, 3], [6, 5, 3, 5, 6], 100]

In [3]:
# deep copy using copy.deepcopy()

lst1 = [ [1, 2, 3], [6, 5, 3, 5, 6], 7 ]
lst2 = copy.deepcopy(lst1)

lst2[0][0] = 100
print(lst1)
print(lst2)

[[1, 2, 3], [6, 5, 3, 5, 6], 7]
[[100, 2, 3], [6, 5, 3, 5, 6], 7]